@import "tailwindcss";

@theme {
    --color-primary: #edf7eb;
    --color-secundary: #222831;

    --font-Montserrat: "Montserrat" sans-serif;
}

@layer base {
    html,
    body,
    #root {
        height: 100%;
        background-color: #F5F5F5;
    }
    
}
